* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrap {
    height: 100vh;
    background-color: bisque;
    /* display: flex; */
}

.container {
    display: flex;
}

.item {
    width: 25%;
    position: relative;
}

.item img {
    width: 100%;
    vertical-align: middle;
}

.item .txt {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity .5s;
}

.item:hover .txt {
    opacity: 1;
}

.item h2 {
    font-size: 40px;
    color: yellow;
}

.item h2:after {
    content: '';
    display: block;
    width: 00%;
    height: 3px;
    margin: 10px 0;
    background-color: white;
    transition: width .3s .3s;
}

.item:hover h2:after {
    width: 100%;
}

.item p {
    font-size: 20px;
    font-weight: bolder;
    color: white;
}